.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.Profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 2rem;
}
